<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmls    = "http://www.w3.org/ns/widgets"
  xmlns:gap   = "http://phonegap.com/ns/1.0"
  id      = "com.skilla"
  version   = "0.0.1">
<widget id="com.ionicframework.skilla329503" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Skilla</name>
  <description>
        Posterlabs
    </description>
  <author href="http://www.xplacecompany.com/" email="sebastian@xplacecompany.com">
  id      = "com.tuttoshopping"
  version   = "0.0.2">

<name>Skilla</name>
<description>
Posterlabs</description>
<author href="http://www.xplacecompany.com/" email="sebastian@xplacecompany.com">
Sebastian Frassia
</author>
    <preference name="orientation" value="portrait" />

<preference name="orientation" value="portrait" />
<preference name="target-device" value="universal" />
<preference name="prerendered-icon" value="true" />
<gap:plugin name="com.ionic.keyboard">
    <param name="onload" value="true"  />
  </gap:plugin>
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
<gap:plugin name="org.apache.cordova.media" version="0.2.13" />
<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
<gap:plugin name="org.li8.inappbrowser" version="0.1" />
<gap:plugin name="com.pushwoosh.plugins.pushwoosh" source="plugins.cordova.io" />

<preference name="android-targetSdkVersion" value="12" />
<preference name="android-minSdkVersion" value="10" />
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="*.pushwoosh.com" />
<gap:platform name="ios" />
<gap:platform name="android" />
<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
    <param name="APP_ID" value="287562268038826" />
    <param name="APP_NAME" value="TuttoShoppingSconti" />
</gap:plugin>

<access origin="*" />
<access origin="*.pushwoosh.com"/>
<access origin="http://127.0.0.1*" />





  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
<icon src="icon.png" />
<gap:platform name="ios" />
<gap:platform name="android" />

<platform name="ios">
    <icon src="resources/ios/icon/icon.png" width="57" height="57"/>
    <icon src="resources/ios/icon/icon@2x.png" width="114" height="114"/>
    <icon src="resources/ios/icon/icon-40.png" width="40" height="40"/>
@@ -92,4 +88,6 @@ Sebastian Frassia
    <splash src="resources/android/splash/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
  </platform>
</widget>